
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  min-width: 1070px;
  background-color: #fff;
  border-bottom: solid 5px #000;
  height: 60px;
  position: fixed;
  align-items: absolute;
  justify-content: center;
  text-align: center;
}

.navbar ul {
  display: flex;
}

.navbar a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  padding: 0 1.5rem 0 1.5rem;
}

.logo {
  width: 25px;
  padding-left: 3rem; /*careful*/
  vertical-align: text-bottom;
}

#siteTitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 5px;
  padding-left: 0.4rem;
}

.pageLinks {
  padding-right: 3rem;
}

.pageLinks a:hover {
  color: #FF5254;
}

.siteLogos {
  border-left: solid 1px #D6D6D6;
  border-right: solid 1px #D6D6D6;
}

.siteLogos a {
  color: #D6D6D6;
  padding: 0.6rem;
}

.siteLogos i:hover {
  cursor: pointer;
  color: #202020;
}

.search {
  color: #D6D6D6;
  border-right: solid 1px #D6D6D6;
  margin-right: 3rem;
  padding-left: 1rem; /*temporary fix */
}

.search i {
  padding-right: 1rem;
}


/*
.pageLinks:hover .dropdown {
  display: block;
}
*/

.dropdown {
  display: none; /*hides on default*/
  position: absolute;
  background: white;
  top: 65px;
}

.dropdown table {
  border-left: solid 1px;
  color: gray;
}

.dropdown table td {
  border-bottom: solid 1px;
  border-right: solid 1px;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.dropdown table td:hover {
  cursor: pointer;
  color: #FF5254;
  background-color: #F3F3F3;
}

/* Featured News */
.featured {
  display: flex;
  position: static;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  min-width: 1070px;
}

.featured img {
  width: 220px;
  margin: 0 0.5rem 0 0.5rem;
}

.featured1 {
  border-bottom: solid 6px #ff5254;
}

.featured2 {
  border-bottom: solid 6px #8ad2a0;
}

.featured3 {
  border-bottom: solid 6px #5cacc3;
}

.featured4 {
  border-bottom: solid 6px #5763d4;
}

.featured-titles {
  position: relative;
}

.featured-name {
  position: absolute;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  text-shadow: 1px 1px #000;
  bottom: 15px;
  left: 15px;
  padding-right: 1rem; /* necessary? */
}

.scroll {
  background: #E2E2E2;
  border: 0;
  width: 18px;
  height: 227px;
  padding-right: 0.9rem;
}

.scroll:hover {
  background-color: #FF5254;
  cursor: pointer;
}

.scroll i {
  color: #FFFFFF;
}

#display1 {
  display: block;
}

#display2 {
  display: none; /*default*/
}

/* Puts main sections into grid system */
.main-page {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  min-width: 1070px;
  grid-template-columns: 9fr 4fr;
}

/* Stories */
.stories {
  margin-top: 3rem;
  align-content: center;
  margin-left: 0rem;
  display: flex;
  padding-left: 3rem;
  padding-right: 0.5rem;
}

.story-img {
  width: 230px;
  height: 151px;
  padding-right: 1rem;
}

.news-brief h2 {
  margin-top: 0;
}

.news-info {
  display:flex;
  padding-left: 2rem;
}

.news-info-sm {
  display: flex;
}

.news-author {
  text-decoration: none;
  font-size: 0.8rem;
  color: #000;
  font-weight: bold;
  padding-right: 0.2rem;
}

.news-date {
  color: #838383;
  font-size: 0.8rem;
  margin-top: 0;
}

.comment-count {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0;
  padding-left: 9rem;
}

.fa-comment {
  padding-left: 0.3rem;
}

.page-selector {
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
  font-size: 1.3rem;
}

.next-page {
  margin-left: 6rem;
}


/* Most Viewed & Most Commented selector */
.side-news {
  padding-right: 1.8rem;
}

.news-selector {
  margin-top: 3rem;
  align-content: center;
  text-align: center;
}

.news-selector a {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  color: #B2B2B2;
  padding: 0.3rem;
}

.news-selector i {
  color: #B2B2B2;
}

.fa-comments {
  border-left: solid 1px #B2B2B2;
  padding-left: 0.4rem;
}

#most-viewed {
  color: #FF5254; /*default on load */
}

/* Most Viewed/Commented Stories */
.most-viewed-stories {
  display: block; /*default on load*/
}

.most-commented-stories {
  display: none;
}

.pop-story {
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
}

.pop-story img {
  height: 100px;
  width: 150px;
}

.pop-story a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  color: #000;
  padding-left: 0.3rem;
}

.story-num {
  position: absolute;
  font-size: 2.2rem;
  font-weight: bold;
  padding-top: 3.2rem;
  padding-left: 0.8rem;
  color: #fff;
}

.story-num:hover {
  color: #FF5254;
  cursor: pointer;
}

.pop-story a:hover {
  color: #FF5254;
}

/* Signup Section */
.signup {
  border-top: solid 1px #D6D6D6;
  border-bottom: solid 1px #D6D6D6;
  margin-top: 3rem;
  height: 180px;
  margin-left: 1rem;
}

.signup h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
}

.signup form input {
  text-transform: uppercase;
  padding: 0.3rem 2.2rem;
}

.signup-btn {
  background-color:#000;
  border: none;
  color: #ffff;
  padding: 0.4rem;
  margin-left: 0.2rem;
}

.signup-p {
  font-size: 0.8rem;
}

/* Heavy Rotation */
.heavy-rotation {
  margin-left: 1rem;
}

.heavy-rotation h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.heavy-rotation i {
  color: #D2D2D2;
}

.rotation-img {
  height: 146px;
  width: 146px;
  padding-right: 0.2rem;
}

/* Footer */
.footer {
  background-color: #222222;
  margin-top: 3rem;
  height: 220px;
  margin: 0;
  width: 100%;
  padding-bottom: 1.2rem;
}

.sub-footer {
  width: 70%;
  min-width: 1070px;
  margin: 0 auto;
}

.footer a:hover {
  color: #FF5254;
}

.footer-external-links {
  display: flex;
}

.linksA i {
  color: #ffff;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
}

.linksB {
  padding-top: 2rem;
  margin-left: auto;
  margin-right: 0;
}

.linksB a {
  text-decoration: none;
  color: #ffff;
  align-content: right;
}

.footer-facebook {
  background-color: #3b5998;
}

.footer-twitter {
  background-color: #4099FF;
}

.footer-instagram {
  background-color: #517fa3;
}

.footer-site-links a {
  text-decoration: none;
  text-transform: uppercase;
  color: #C4C4C4;
  padding-right: 2rem;
}

.footer-p {
  color: #C4C4C4;
  font-size: 0.8rem;
}

.footer-links a {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.8rem;
  color: #ffff;
  padding-right: 2rem;
  
}

.affils {
  color: #838383;
  font-size: 0.8rem;
}

/* New Music page */
.divider {
  padding-top: 6rem;
}

.page-title {
  font-size: 1rem;
  color: #FF5254;
  text-transform: uppercase;
  margin-left: 3rem;
  border-bottom: 1px solid #E2E2E2;
}

/* Media Queries */
