
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  border-bottom: solid 5px #000;
  height: 60px;
  /* position: fixed; */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar ul {
  display: flex; /* Is this good?? */
}

.navbar a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  padding: 0 1.5rem 0 1.5rem;
}

.logo {
  width: 25px;
  padding-left: 3rem; /*careful*/
  vertical-align: text-bottom;
}

#siteTitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 5px;
  padding-left: 0.4rem;
}

.pageLinks {
  padding-right: 6rem;
}

.pageLinks a:hover {
  color: #FF5254;
}

.siteLogos {
  color: #D6D6D6;
  border-left: solid 1px #D6D6D6;
  border-right: solid 1px #D6D6D6;
}

.siteLogos i {
  padding: 0.5rem;
}

.search {
  color: #D6D6D6;
  border-right: solid 1px #D6D6D6;
  margin-right: 3rem;
  padding-left: 1rem; /*temporary fix */
}

.search i {
  padding-right: 1rem;
}

/* Featured News */
.featured {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.featured img {
  width: 220px;
  padding: 0 0.5rem 0 0.5rem;
}

.scroll {
  background: #E2E2E2;
  border: 0;
  width: 20px;
  height: 220px;
}

.scroll:hover {
  background-color: #FF5254;
  cursor: pointer;
}

.fa-chevron-left,
.fa-chevron-right {
  background-color: #E2E2E2;
  width: 10px;
  color: #FFFFFF;
}

/* Stories */
.stories {
  margin-top: 4rem;
  width:45%;
  align-content: center;
  margin-left: 18rem;
  display: flex;
}

.story-img {
  width: 230px;
  height: 151px;
  padding-right: 1rem;
}

.news-brief h2 {
  margin-top: 0;
}

.news-info {
  display:flex;
  padding-left: 2rem;
}

.news-info-sm {
  display: flex;
}

.news-author {
  text-decoration: none;
  font-size: 0.8rem;
  color: #000;
  font-weight: bold;
  padding-right: 0.2rem;
}

.news-date {
  color: #838383;
  font-size: 0.8rem;
  margin-top: 0;
}

.comment-count {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0;
  padding-left: 9rem;
}

.fa-comment {
  padding-left: 0.3rem;
}

/* Footer */
.footer {
  background-color: #222222;
  margin-top: 500px; /*CHANGE THIS! This is only for testing*/
  height: 200px;
  padding: 0 15rem; /* Not sure about this... */
  padding-bottom: 1.2rem;
}

.footer a:hover {
  color: #FF5254;
}

.footer-external-links {
  display: flex;
}

.linksA i {
  color: #ffff;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
}

.linksB {
  padding-top: 2rem;
  padding-left: 32rem; /* This WILL be a problem*/
}

.linksB a {
  text-decoration: none;
  color: #ffff;
  align-content: right;
}

.footer-facebook {
  background-color: #3b5998;
}

.footer-twitter {
  background-color: #4099FF;
}

.footer-instagram {
  background-color: #517fa3;
}

.footer-site-links a {
  text-decoration: none;
  text-transform: uppercase;
  color: #C4C4C4;
  padding-right: 2rem;
}

.footer-p {
  color: #C4C4C4;
  font-size: 0.8rem;
}

.footer-links a {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.8rem;
  color: #ffff;
  padding-right: 2rem;
  
}

.affils {
  color: #838383;
  font-size: 0.8rem;
}